<template>
	<section>
		<div>
			EDITAR ROL
		</div>
		<section>
			<div>
				<label>Nombre</label>
				<input type="text" v-model="rol.name">
				<label>Estado</label>
				<input type="text" v-model="rol.status_id">
			</div>
			<div>
				<button @click="edit">Editar</button>
				<button @click="close">Cancelar</button>
			</div>
		</section>			
	</section>
</template>

<script>
	export default {
		name: "rol-edit-component",
		data() {
			return {				
				rol 		:{
					name		:'',
					status_id	:'',					
				}
			};
		},
		props: {
			base_url: {
				type: String,
				default: ''
			},
			rolId: {
				type: Number,
				default: 0
			},
		},
		methods: {
			close: function () {
				this.$emit('onShowComponent', 'RolList')
			},	
			getRolById: function () {
				let that = this

				let headers = {
					headers: {
						"Conten-Type":  "application/json"
					}
				}

				let url = this.base_url + '/api/roles/' + this.rolId

				axios
					.get(url, headers)
					.then((response) => {
						
						if(response.data.type === 'success') {							
							that.rol = response.data.data.rol
						} else {
							alert(response.data.message)
						}

					})
					.catch((error) => {						
						alert(error.data.message)
					})
			},
			edit: function () {
				let that = this

				let headers = {
					headers: {
						"Conten-Type":  "application/json"
					}
				}

				let url = this.base_url + '/api/roles/' + this.rolId

				let data = {
					name	: this.rol.name,
					status_id	: this.rol.status_id,
				}

				axios
					.put(url, data, headers)
					.then((response) => {
						
						if(response.data.type === 'success') {
							alert(response.data.message)
							that.close()
						} else {
							alert(response.data.message)
						}

					})
					.catch((error) => {						
						alert(error.data.message)
					})
			}
		},
		mounted() {
			this.getRolById()
		}
	}
</script>