<template>
	<div>
		<div v-if="showComponent === 'TypeStatusList'">
			<typestatus-list-component :base_url="base_url" @onShowComponent="setShowComponent"></typestatus-list-component>
		</div>

		<div v-if="showComponent === 'TypeStatusInsert'">
			<typestatus-insert-component :base_url="base_url" @onShowComponent="setShowComponent"></typestatus-insert-component>
		</div>

		<div v-if="showComponent === 'TypeStatusEdit'">
			<typestatus-edit-component :base_url="base_url" :typeStatusId="typeStatusId" @onShowComponent="setShowComponent"></typestatus-edit-component>
		</div>
	</div>
</template>

<script>

	import TypeStatusList from "./TypeStatusList.vue"
	import TypeStatusInsert from "./TypeStatusInsert.vue"
	import TypeStatusEdit from "./TypeStatusEdit.vue"

	export default {
		name: "typestatus-main-component",
		components: {
			"typestatus-list-component": TypeStatusList,
			"typestatus-insert-component": TypeStatusInsert,
			"typestatus-edit-component": TypeStatusEdit
		},
		data() {
			return {
				showComponent		:'',
				typeStatusId 			:'',
			};
		},
		props: {
			base_url: {
				type: String,
				default: ''
			}
		},
		methods: {
			setShowComponent: function(component, id) {				
				this.typeStatusId = id
				this.showComponent = component
			}
		},
		mounted() {
			this.setShowComponent('TypeStatusList')
		}
	}
</script>